# Compiled class file
*.class

# Log file
*.log

# ide
.idea/

# Clases generadas automaticamente
*/Analizadores/AnalizadorLexico.java
*/Analizadores/AnalizadorSintactico.java
*/Analizadores/Simbolos.java